{# render author information, including schema information #}
{% macro author(id) %}

<span itemprop="author" itemscope itemtype="http://schema.org/Person">
{% if config.extra.authors[id] -%}
    <span itemprop="name">{{ config.extra.authors[id].name }}</span>
{%- else -%}
{{ id }}
{%- endif %}
</span>

{% endmacro author %}

{# return the description of the page #}

{% macro description(page) -%}
{% if page.description -%}
{{ page.description }}
{%- elif page.summary -%}
{{ page.summary | striptags }}
{%- endif %}
{%- endmacro %}
