{% extends "index.html" %}

{% block content %}
<div class='container'>
  <section class="post" itemscope itemtype="http://schema.org/BlogPosting">
  	<div class="title-and-info">
    	<h2 itemprop="name headline">{{ page.title }}</h2>
		{{ post_macros::post_info(page=page) }}
    </div>
  	<article itemprop="articleBody">
  		{{ page.content | safe }}
  	</article>
  </section>

  {% if config.extra.feather_disqus_code %}
    {{ config.extra.feather_disqus_code | safe }}
  {% endif %}

</div>
{% endblock content %}

{% block title %}{{ page.title }} &mdash; {{ config.title }}{% endblock title %}