{% import "common.html" as common %}

{% macro post_info(page,more=false) %}

<div class="info">

    <span>{{ page.reading_time }} minute read</span>
    <meta itemprop="wordCount" content="{{page.word_count}}">

    {% if page.date %}
        <span class='divider'></span>
        <span itemprop="datePublished" content='{{page.date | date(format="%Y-%m-%d")}}'>{{ page.date | date(format="%d %B %Y") }}</span>
    {% endif %}

    {% if page.category %}
        <span class='divider'></span>
        {# link to page category if user is building categories #}
        {% if config.generate_categories_pages %}
            <span><a href="/categories/{{page.category | slugify }}">{{ page.category }}</a></span>
        {% else %}
            <span>{{ page.category }}</span>
        {% endif %}
    {% endif %}

    {% if page.extra.author %}
        <span class="divider"></span>
        <span>by {{ common::author(id=page.extra.author) }}</span>
    {% endif %}

    {% if more %}
        <span class="divider"></span>
        <a href="{{ page.path }}">Read more …</a>
    {% endif %}

</div>

{% endmacro post_info %}
