{% extends "feather/templates/index.html" %}

{% block extra_head %}
<style>
    .header-image {
        height: 33vh;
        width: 100%;
        object-fit: cover;
    }
</style>
{% endblock extra_head %}

{% block header_image %}
<picture>
    <source media="" type="image/webp" srcset="/wood.1x.webp, /wood.2x.webp 2x">
    <source media="" type="image/jpeg" srcset="/wood.1x.webp, /wood.2x.webp 2x">
    <img class="header-image ignore-js" src="/wood.1x.jpg" class="ignore-js" alt="Header image">
</picture>
{% endblock header_image %}
