{% extends "feather/templates/index.html" %}

{% block extra_head %}
<style>
    .header-image {
        max-height: 33vh;
        height: inherit;
        min-height: inherit;
        object-fit: contain;
        object-position: left center;
        background-color: #98c353;
    }
</style>
<link rel="icon" type="image/svg+xml" href="/favicon.svg">
{% endblock extra_head %}

{% block header_image %}
<picture>
    <img class="header-image ignore-js" src="/header.svg" alt="Header image">
</picture>
{% endblock header_image %}
