{% extends "index.html" %}

{% block content %}

<div class="columns">
  <div class="column is-offset-one-quarter-fullhd is-half-fullhd is-two-thirds-tablet is-three-quarters-desktop is-full">
    <article itemscope itemtype="http://schema.org/BlogPosting">

      <section class="content">
        <h1 class="title is-size-2" itemprop="name headline">{{ page.title }}</h1>
        <div class="subtitle has-text-grey">
        {{ post_macros::post_info(page=page) }}
        </div>
      </section>

      <hr>

      <section class="content post-content" itemprop="articleBody">
        {{ page.content | safe }}
      </section>

      <section id="comments" class="content">

        <hr>

        <h2>Comments</h2>

        <div id='discourse-comments'></div>

        <script type="text/javascript">
            DiscourseEmbed = { discourseUrl: 'https://discourse.drogue.io/',
                discourseEmbedUrl: '{{ get_url(path=page.path) | safe  }}' };

            (function() {
                var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
                d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
            })();
        </script>
      </section>

    </article>

  </div>

  <aside class="column is-hidden-mobile is-one-third-tablet is-one-quarter-desktop px-5">
    <div class="box toc">
      <div class="title is-size-3"><a href="#">Table of contents</a></div>
      <nav class="menu">
        <ul class="menu-list">
          {% for h1 in page.toc %}
          <li>
            <a data-for="{{h1.id}}" href="{{h1.permalink | safe}}">{{ h1.title }}</a>
            {% if h1.children %}
            <ul class="menu-list">
              {% for h2 in h1.children %}
              <li>
                <a data-for="{{h2.id}}" href="{{h2.permalink | safe}}">{{ h2.title }}</a>
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </aside>

</div>

{% endblock content %}

{% block title %}{{ page.title }} &mdash; {{ config.title }}{% endblock title %}


{% block meta_head -%}

<meta name="description" content="{{ common::description(page=page) }}">

{% if page.extra.twitter.large -%}
<meta name="twitter:card" content="summary_large_image">
{%- else %}
<meta name="twitter:card" content="summary">
{%- endif %}
<meta name="twitter:site" content="@DrogueIoT" />
<meta name="twitter:title" content="{{ page.title }}" />
<meta name="twitter:description" content="{{ common::description(page=page) }}">

{%- if page.extra.twitter.image %}
<meta name="twitter:image" content="{{ common::abs_url(page=page,url=page.extra.twitter.image) | safe }}">
{%- elif page.extra.image %}
<meta name="twitter:image" content="{{ common::abs_url(page=page,url=page.extra.image) | safe }} ">
{%- else %}
<meta name="twitter:image" content='{{ common::abs_url(page=page,url="/default_social_image.png") | safe }}'>
{% endif %}
{%- if page.extra.twitter.image_alt %}
<meta name="twitter:image:alt" content="{{ page.extra.twitter.image_alt }}">
{%- elif page.extra.image_alt %}
<meta name="twitter:image:alt" content="{{ page.extra.image_alt }}">
{% endif %}

<meta property="og:type" content="article" />
<meta property="og:site_name" content="{{ config.title }}">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:url" content="{{ get_url(path=page.path) | safe  }}">
<meta property="og:description" content="{{ common::description(page=page) }}">

{%- if page.extra.og.image %}
<meta property="og:image" content="{{ common::abs_url(page=page,url=page.extra.og.image) | safe  }}">
{%- elif page.extra.image %}
<meta property="og:image" content="{{ common::abs_url(page=page,url=page.extra.image) | safe  }}">
{%- else %}
<meta property="og:image" content='{{ common::abs_url(page=page,url="/default_social_image.png") | safe  }}'>
{% endif %}

{%- endblock meta_head %}
